*{
  margin: 0;
  padding: 0;
}
.fab-container{
  position:fixed;
  bottom:20px;
  right:20px;
  cursor:pointer;
}
.iconbutton{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: #ff8800;
    box-shadow: 10px 10px 5px #aaaaaa;
    
}

.button{
  width:50px;
  height:50px;
  background: #393939;
}

.iconbutton i{
   display:flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   color: white;
  }
  .options{
    list-style-type: none;
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0);
    transform-origin: 80% bottom;


  }

  .options li{
    display: flex;
    justify-content: flex-end;
    padding: 5px;

  }
  .btn-label{
    padding: 2px 5px;
    margin-right: 10px;
    align-self: center;
    user-select: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  .button:hover+.options, .options:hover{
    opacity: 1;
    transform: scale(1);
  }